<p>mensaje works!</p>
<div class="botones mb-5">
    <button class="btn btn-info" (click)="crearmensaje('Titulo','descripcion','info')">Mensaje</button>
    <button class="btn btn-success" (click)="crearmensaje('Titulo','descripcion','exito')">Mensaje</button>
    <button class="btn btn-warning" (click)="crearmensaje('Titulo','descripcion','aviso')">Mensaje</button>
    <button class="btn btn-danger" (click)="crearmensaje('Titulo','descripcion','error')">Mensaje</button>
</div>
<div id="mensaje">

</div>